<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ellipseBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,49}</string>
                <key>spriteSourceSize</key>
                <string>{140,49}</string>
                <key>textureRect</key>
                <string>{{0,300},{140,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ellipseBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,63}</string>
                <key>spriteSourceSize</key>
                <string>{140,63}</string>
                <key>textureRect</key>
                <string>{{0,349},{140,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ellipseBg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,14}</string>
                <key>spriteSourceSize</key>
                <string>{140,14}</string>
                <key>textureRect</key>
                <string>{{0,412},{140,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ellipseBg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,18}</string>
                <key>spriteSourceSize</key>
                <string>{140,18}</string>
                <key>textureRect</key>
                <string>{{0,426},{140,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ellipseBg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,49}</string>
                <key>spriteSourceSize</key>
                <string>{140,49}</string>
                <key>textureRect</key>
                <string>{{0,444},{140,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlightEffect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightEffect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{87,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squareBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,100},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squareBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{100,100},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squareBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,200},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squareBg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{100,200},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raw.png</string>
            <key>size</key>
            <string>{200,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0ab15280ed362a3362803fd4d74380d:25da86d1c2ecafe41c9b918756fb48e7:3b75d2c19c10be6886e2917a60e4f0a2$</string>
            <key>textureFileName</key>
            <string>raw.png</string>
        </dict>
    </dict>
</plist>
